.card-layout {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    //flex-wrap: wrap;
    color: $text;
    
    figure {
        width: 300px;
        //height: 200px;
        background: $gray;
        padding: 2rem 2rem;
        margin: 0 .5rem;

        figcaption {
            font-size: 1.25rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        table {
            width: 100%;
            padding: 0;
            list-style-type: none;
            
            li {
                padding: 1rem;
            }

            tr td:nth-of-type(2) {
                font-size: 18pt;
            }
        }
    }
}