@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    font-family: 'Lato', sans-serif;
}

$primary-color: #3E2723;
$white: #fff;

a {
    color: inherit;
    transition: 200ms linear all;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    th {
        background: $primary-color;
        color: $white;
        padding: 2rem 1.5rem;
        vertical-align: middle;
        a {
            text-decoration: none;
            margin-right: 1rem;
        }
        &.num {
            width: 8%;
        }
        &::after {
            font-size: .3rem;
            position: relative;
        }
        &.asc::after {
            content: '\25b2';
        }
        &.desc::after {
            content: '\25bc';
        }
    }
    tr.odd {
        background: darken($white,10%);
    }
    td, th {
        text-align: left;
        word-wrap: break-word;
        
    }
    td {
        padding: 1rem 1.5rem;
    }
}
.tabular-view {
    //width: 800px;
}

ul.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    li.active a {
        background: lighten($primary-color, 10%);
    }
    a {
        text-decoration: none;
        color: $white;
        padding: 1rem;
        background: $primary-color;
        &:hover {
            background: lighten($primary-color, 20%);
        }
    }
}