@import url('https://fonts.googleapis.com/css?family=Lato');

$primary-color: #3E2723;
$white: #fff;

* {
    font-family: 'Lato', sans-serif;
    transition: 200ms all linear;
}
body {
    padding: 0;
    margin: 0;
}
a {
    color: inherit;
    transition: 200ms linear all;
}
nav {
    position: relative;
    display: flex;
    background-color: $white;
    padding: 1rem 2rem;
    
    .search-field {
        width: 100%;
        input[type='text'] {
            width: 80%;
            border: 0;
            border-bottom: 3px solid white;
            appearance: none;
            padding: .75rem 0 .75rem 2rem;
            background: none;
            font-size: 14pt;

            &:focus {
                border-bottom-color: darken($white, 10%);
                outline: none;
            }
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            top: 0; bottom: 0;
            margin: auto;
            background: url(img/search.svg);
        }
    }

    .actions {
        input[type='checkbox'] {
            display: none;
        }
        label {
            cursor: pointer;
        }
    }
}

section {
    background-color: darken($white, 10%);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    th {
        background: $primary-color;
        color: $white;
        padding: 2rem 1.5rem;
        vertical-align: middle;
        a {
            text-decoration: none;
        }
        &.lines {

            //width: 15%;
            &::before {
                display: block;
                //content: 'Lines';
            }
        }
        &::after {
            font-size: .3rem;
            position: relative;
        }
        &.asc::after {
            content: '\25b2';
        }
        &.desc::after {
            content: '\25bc';
        }
    }
    tr.odd {
        background: darken($white,10%);
    }
    td, th {
        text-align: left;
        word-wrap: break-word;
        
    }
    td {
        padding: 1rem 1.5rem;
    }
}
.tabular-view {
    //width: 800px;
}

ul.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    li.active a {
        background: lighten($primary-color, 10%);
    }
    a {
        text-decoration: none;
        color: $white;
        padding: 1rem;
        background: $primary-color;
        &:hover {
            background: lighten($primary-color, 20%);
        }
    }
}