/* date picker css */
#datepicker {
  padding: .5em;
  background-color: #eee
}
#datepicker button {
  margin-left: .5em;
}


/* footer css */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
