@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$primary: #3E2723;
$secondary: #EBEAEA;
$white: #fff;
$blue: #257AFD;
$gray: #E2E2E2;
$neutral: #D5D5D5;
$text: #5F5F5F;
$purple: #3A344B;

$colors: #333D5C, #5C3353, #AD3838, #57958B, #AD5838, #B55D7F;

@import '_switch';
@import '_table';
@import '_nav';
@import '_cards';

* {
    font-family: 'Lato', sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    //color: $text;
}
h1 {
    font-size: 2rem;
}
a {
    color: inherit;
    transition: 200ms linear all;
    text-decoration: inherit;
}

main {
    background-color: $purple;
    padding: 1rem 4rem 3rem 4rem;
    color: $white;
}

section {
    background-color: $secondary;
    padding: 1rem 4rem;
    min-height: 90vh;
    color: $text;
}
main:nth-child(2), section:nth-child(2) {
    margin-top: 70px;
}

input[type='month'], 
input[type='week'],
input[type='date'], 
select {
    border-sizing: border-box;
    transition: 200ms all linear;
    background-color: $neutral;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right 15px top 7px;
    color: darken($gray, 60%);
    border: none;
    font-size: 11pt;
    padding: 6px 20px;
    padding-right: 10px;
    margin: 1rem;
    border-radius: 20px;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
    &:hover {
        background-color: lighten($neutral, 2%);
    }
}
input[type='month'], 
input[type='week'],
input[type='date'] {
    width: 130px;
    background-image: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png);
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
      cursor: pointer;
    }
}
select {
    //margin: 0;
    min-width: 130px;
    padding: 8px 20px;
    padding-right: 60px;
    background-image: url(img/down.svg);
}

.button {
    // padding: 8px 20px;
    // border-radius: 20px;
    // background-color: lighten($blue, 50%);
    font-size: 20px;
    // &:hover {
    //     background-color: lighten($blue, 65%);
    // }
}

figure {
    margin: 1rem 0;
}

.flex-row {
    display: flex;
    align-items: center;
    
    form {
      display: flex;
      align-items: center;
    }
    .float-right {
        margin-left: auto;
    }
    .float-left {
        margin-right: auto;
    }
    .spacer {
        padding-right: 1rem;
    }
    &.align-top {
        align-items: flex-start;
    }
}

.tags {
    list-style-type: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 5px;

        a {
            background: lighten($purple, 30%);
            color: $white;
            padding: 4px 15px;
            border-radius: 15px;
            display: block;

            &:hover {
                background: lighten($purple, 45%);
            }
            &.active {
                background: lighten($purple, 10%);
            }
        }
    }
}

.no-margin {
    margin: 0;
}
.inline {
    display: inline;
}
.no-padding {
    padding: 0 !important;
}


