<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">
    // specify the columns


    function detailsCellRendererFunc(params) {
        return "<a href='/org/{{ org.pk }}/repo/" + params.value + "/start/{{ start_str }}/end/{{ end_str }}'>go</a>";
    }

    // FIXME: days active sounds like a great stat to have! Let's add it.

  <!-- FIXME: this table is getting HUGE, do we need multiple table links especially for the lifetime version? -->

    var columnDefs = [
        {headerName: "Author",              field: "author", sortable: true, filter: true },
        {headerName: "Added+Removed",       field: "lines_changed", sortable: true, filter: true },
        {headerName: "Added-Removed",       field: "bias", sortable: true, filter: true },
        {headerName: "Commit Total",        field: "commit_total", sortable: true, filter: true },
        {headerName: "Files Changed",       field: "files_changed", sortable: true, filter: true },
        {headerName: "Days Active",         field: "days_active", sortable: true, filter: true },
        {headerName: "Average Commit Size", field: "average_commit_size", sortable: true, filter: true },
        {headerName: "Lines/Day",           field: "lines_changed_per_day", sortable: true, filter: true },
        {headerName: "Files/Day",           field: "files_changed_per_day", sortable: true, filter: true },
        {headerName: "Commits/Day",         field: "commits_per_day", sortable: true, filter: true },
        {headerName: "Longevity",          field: "longevity", sortable: true, filter: true },
        {headerName: "Commitment",          field: "commitment", sortable: true, filter: true },
        {headerName: "Earliest Commit",    field: "earliest_commit_date", sortable: true, filter: true },
        {headerName: "Latest Commit",      field: "latest_commit_date", sortable: true, filter: true }
    ];


    // specify the data
    var rowData = {{ author_json | safe }};

    // let the grid know which columns and what data to use
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };

  // lookup the container we want the Grid to use
  var eGridDiv = document.querySelector('#myGrid');

  // create the grid passing in the div to use together with the columns & data we want to use
  thisGrid = new agGrid.Grid(eGridDiv, gridOptions);


</script>