
{% include 'header.html' %}

<h1>{{ title }}</h1>

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">

    function authorCell(params) {
        {% if repo %}
        return "<a href='/report/author_stats?start={{ start_str }}&end={{ end_str }}&author=" + params.value + "'>" + params.value + "</a>";
        {% else %}
        return params.value
        {% endif %}
    }

    function repoCell(params) {
        return "<a href='/report/author_stats?start={{ start_str }}&end={{ end_str }}&repo=" + params.value + "'>" + params.value + "</a>";
    }


    var columnDefs = [
        {headerName: "Author",         field: "author", sortable: true, filter: true, cellRenderer: authorCell },
        {% if not repo %}
        {headerName: "Repo",           field: "repo", sortable: true, filter: true, cellRenderer: repoCell },
        {% endif %}
        {headerName: "L+",             field: "lines_added", sortable: true, filter: true },
        {headerName: "L-",             field: "lines_removed", sortable: true, filter: true },
        {headerName: "Commits",        field: "commit_total", sortable: true, filter: true },
        {% comment %}
        # it seems more useful to show creates/edits/moves ... correct?
        {headerName: "Files",          field: "files_changed", sortable: true, filter: true },
        {% endcomment %}
        {headerName: "Creates",        field: "creates", sortable: true, filter: true },
        {headerName: "Edits",          field: "edits", sortable: true, filter: true },
        {headerName: "Moves",          field: "moves", sortable: true, filter: true },
        {headerName: "Days",           field: "days_active", sortable: true, filter: true },
        {headerName: "Missing For",    field: "days_since_seen", sortable: true, filter: true },
        {headerName: "Earliest",       field: "earliest_commit_date", type: 'dateColumn', sortable: true, filter: true },
        {headerName: "Latest",         field: "latest_commit_date", type: 'dateColumn', sortable: true, filter: true },
        {headerName: "Longevity",      field: "longevity", sortable: true, filter: true }

    ];

    var rowData = {{ table_json | safe }};
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };
    var eGridDiv = document.querySelector('#myGrid');
    thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

</script>

</div>

{% include 'footer.html' %}



