
{% include 'header.html' %}

{% if repo %}
<h1>repo={{ repo.name }}: Commits</h1>
{% elif author %}
<h1>author={{ author.email }}: Commits</h1>
{% else %}
<h1>Commits</h1>
{% endif %}

{% if has_prev %}<a href="{{ prev_link }}">&lt;&lt;</a>{% endif %} page {{ page_number}}{% if has_next %}<a href="{{ next_link }}">&gt;&gt;</a>{% endif %}

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">


    function authorCell(params) {
        {% if repo %}
        return "<a href='/report/commits?start={{ start_str }}&end={{ end_str }}&author=" + params.value + "'>" + params.value + "</a>";
        {% else %}
        return params.value
        {% endif %}
    }

    function repoCell(params) {
        return "<a href='/report/commits?start={{ start_str }}&end={{ end_str }}&repo=" + params.value + "'>" + params.value + "</a>";
    }

    var columnDefs = [
        {headerName: "Date",        field: "commit_date", sortable: false, filter: true, type: ['dateColumn'] },
        {% if repo %}
        {headerName: "Author",      field: "author", sortable: true, filter: true, cellRenderer: authorCell},
        {% endif %}
        {% if author %}
        {headerName: "Repo",        field: "repo", sortable: true, filter: true, width: 100, cellRenderer: repoCell },
        {% endif %}
        {headerName: "Description", field: "subject", sortable: true, filter: true, width: 600 },
        {headerName: "SHA",         field: "sha", filter: true }
    ];

    var rowData = {{ table_json | safe }};
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };
    var eGridDiv = document.querySelector('#myGrid');
    thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

</script>

</div>

{% include 'footer.html' %}


