<html>

<head>
<title>{{ title }}</title>

{% load static %}


<script src="/source_optics/static/vendor/vega-5.js"></script>
<script src="/source_optics/static/vendor/vega-lite-3.js"></script>
<script src="/source_optics/static/vendor/vega-embed-4.js"></script>
<script src="/source_optics/static/vendor/jquery-3.3.1.min.js"></script>
<script src="/source_optics/static/vendor/jquery.lazy-1.7.1.min.js"></script>
<script src="/source_optics/static/vendor/jquery.lazy.ajax-1.7.1.min.js"></script>
<script src="/source_optics/static/vendor/popper-1.14.7.min.js"></script>
<script src="/source_optics/static/vendor/bootstrap-4.3.1.min.js"></script>
<script src="/source_optics/static/vendor/ag-grid-community.min.noStyle.js"></script>
<script src="/source_optics/static/vendor/fontawesome-5.10.2/js/all.min.js"></script>
<script src="/source_optics/static/main.js"></script>

<link rel="stylesheet" href="/source_optics/static/vendor/bootstrap-4.3.1.min.css"/>
<link rel="stylesheet" href="/source_optics/static/vendor/ag-grid.css"/>
<link rel="stylesheet" href="/source_optics/static/vendor/ag-theme-balham.css"/>
<link rel="stylesheet" href="/source_optics/static/main.css">
<link rel="stylesheet" href="/source_optics/static/vendor/fontawesome-5.10.2/css/all.min.css"/>

<script>
$(function() {
    $("div[data-src]").Lazy();
});
</script>


</head>

<body>


<div id="header__container">
    <div id="user_action__navbar">
        {% if 'start' in request.get_full_path %}
        <div id="datepicker_dates__display" class="right" >
            <span id="start_date_display" data-date="{{ start_str }}">{{ start_str }}</span>
            &nbsp;to&nbsp;
            <span id="end_date_display" data-date="{{ end_str }}">{{ end_str }}</span>
            <i class="far fa-calendar-alt"></i>
        </div>
        {% endif %}
        <a href="/admin"><i class="fas fa-cogs"></i></a>
    </div>
    <a href="/"><img src="/source_optics/static/logo_no_bg.png" height=200/></a>
</div>
{% if 'start' in request.get_full_path %}
<div id="myModal" style="display:none;">
    <div id="date_picker_container">
        <div id="datepicker_start_cal" class="datepicker_cal" data-date="{{ start_str }}">
            <div class="calendar_title">Start Date</div>
        </div>
        <input type="hidden" id="datepicker_start" name="start" >
        
        <div id="datepicker_end_cal" class="datepicker_cal" data-date="{{ end_str }}">
            <div class="calendar_title">End Date</div>
        </div>
        <input type="hidden" id="datepicker_end" name="end" >
    </div>
    <div class="modalButtons">
        <button onclick="pickDates()" class="btn btn-outline-info btn-md">Apply</button>
        <button id="cancelButton" class="btn btn-outline-info btn-md">Cancel</button>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/source_optics/static/vendor/bootstrap-datepicker3.min.css">
<script src="/source_optics/static/vendor/bootstrap-datepicker.min.js"></script>
<script src="/source_optics/static/datepicker-query-parser.js"></script>
<script src="/source_optics/static/datepicker-setup-behaviour.js"></script>
{% endif %}
<br/>