<html>

<head>
<title>{{ title }}</title>

{% load static %}


<script src="/source_optics/static/vendor/vega-5.js"></script>
<script src="/source_optics/static/vendor/vega-lite-3.js"></script>
<script src="/source_optics/static/vendor/vega-embed-4.js"></script>
<script src="/source_optics/static/vendor/jquery-3.3.1.min.js"></script>
<script src="/source_optics/static/vendor/jquery.lazy-1.7.1.min.js"></script>
<script src="/source_optics/static/vendor/jquery.lazy.ajax-1.7.1.min.js"></script>
<script src="/source_optics/static/vendor/popper-1.14.7.min.js"></script>
<script src="/source_optics/static/vendor/bootstrap-4.3.1.min.js"></script>
<script src="/source_optics/static/vendor/ag-grid-community.min.noStyle.js"></script>
<script src="/source_optics/static/vendor/fontawesome-5.10.2/js/all.min.js"></script>
<script src="/source_optics/static/main.js"></script>

<link rel="stylesheet" href="/source_optics/static/vendor/bootstrap-4.3.1.min.css"/>
<link rel="stylesheet" href="/source_optics/static/vendor/ag-grid.css"/>
<link rel="stylesheet" href="/source_optics/static/vendor/ag-theme-balham.css"/>
<link rel="stylesheet" href="/source_optics/static/main.css">
<link rel="stylesheet" href="/source_optics/static/vendor/fontawesome-5.10.2/css/all.min.js"/>

<script>
$(function() {
    $("div[data-src]").Lazy();
});
</script>


</head>

<body>

<div style="background-color: #ff0000">
  <a href="/"><img src="/source_optics/static/logo_no_bg.png" height=200/></a>
</div>
{% if 'start' in request.get_full_path %}
<link rel="stylesheet" type="text/css" href="/source_optics/static/vendor/bootstrap-datepicker3.min.css">
<script src="/source_optics/static/vendor/bootstrap-datepicker.min.js"></script>
<script src="/source_optics/static/datepicker-query-parser.js"></script>

<div id="datepicker" class="input-group input-daterange">
        <input type="text" class="form-control" value="{{ start_str }}" name="start" id="datepicker_start">
        <div class="input-group-addon">&nbsp;to&nbsp;</div>
        <input type="text" class="form-control" value="{{ end_str }}" name="end" id="datepicker_end">
        <button onclick="pickDates()">Apply</button>
</div>
<script>
    $("#datepicker").datepicker({
        format: "yyyy-mm-dd",
        todayBtn: "linked",
    });
</script>
{% endif %}
<br/>