{% include 'header.html' %}

<h1>Organizations</h1>
<table>
    {% for org in orgs %}
    <ul>
        <li><a href="/org/{{ org.pk }}/repos?start={{ start_str }}&end={{ end_str }}&intv={{ intv }}">{{ org.name }}</a></li>
    </ul>
    {% endfor %}
</table>

{% if not orgs_count %}
   There are no organizations in the system yet. Visit the <A HREF="/admin">Admin View</A> to create some
   credentials and organizations.  Refer to the install documentation if you have questions.
{% endif %}

{% include 'footer.html' %}