
{% include 'header.html' %}

<h1>{{ repo.name }}: Authors ({{ author_count }})</h1>

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">

    function detailsCellRendererFunc(params) {
        return "<a href='/repo/" + params.value + "/start/{{ start_str }}/end/{{ end_str }}'>go</a>";
    }

    var columnDefs = [
        {headerName: "Author",         field: "author", sortable: true, filter: true },
        {headerName: "L+",             field: "lines_added", sortable: true, filter: true },
        {headerName: "L-",             field: "lines_removed", sortable: true, filter: true },
        {headerName: "Commits",        field: "commit_total", sortable: true, filter: true },
        {headerName: "Files",          field: "files_changed", sortable: true, filter: true },
        {headerName: "Days",           field: "days_active", sortable: true, filter: true },
        {headerName: "Longevity",      field: "longevity", sortable: true, filter: true },
        {headerName: "Joined Day",     field: "days_before_joined", sortable: true, filter: true },
        {headerName: "Missing Days",   field: "days_since_seen", sortable: true, filter: true }
    ];

    var rowData = {{ table_json | safe }};
    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };
    var eGridDiv = document.querySelector('#myGrid');
    thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

</script>

{% include 'footer.html' %}



