{% include 'header.html' %}

<h1>Organization: {{ org.name }}</h1>

<div id="myGrid" class="ag-theme-balham"></div>

  <script type="text/javascript" charset="utf-8">

    function graphCell(params) {
        return "<a href='/repo/" + params.value + "?start={{ start_str }}&end={{ end_str }}&intv={{ intv }}&org={{ org.pk }}'>go</a>";
    }

    function authorsStatsCell(params) {
        return "<a href='/report/author_stats?start={{ start_str }}&end={{ end_str }}&repo=" + params.value + "&org={{ org.pk }}'>go</a>";
    }

    <!-- TODO: use FontAwesome icons -->
    function commitFeedCell(params) {
        return "<a href='/report/commits?start={{ start_str }}&end={{ end_str }}&repo=" + params.value + "&org={{ org.pk }}'>go</a>";
    }

    var columnDefs = [
        {headerName: "Name",           field: "name", sortable: true, filter: true },
        {headerName: "Graphs",         field: "details1", cellRenderer: graphCell, },
        {headerName: "Stats",          field: "details2", cellRenderer: authorsStatsCell },
        {headerName: "Commits",        field: "details3", cellRenderer: commitFeedCell },
        {headerName: "Authors",        field: "author_total", sortable: true, filter: true },
        {headerName: "L+",             field: "lines_added", sortable: true, filter: true },
        {headerName: "L-",             field: "lines_removed", sortable: true, filter: true },
        {headerName: "#Commits",       field: "commit_total", sortable: true, filter: true },
        {headerName: "Days Active",    field: "days_active", sortable: true, filter: true },
        {headerName: "Last Scanned",   field: "last_scanned", sortable: true, filter: true, type: 'dateColumn' }
    ];

    var rowData = {{ repo_table | safe }};

    var gridOptions = {
      columnDefs: columnDefs,
      rowData: rowData
    };

  var eGridDiv = document.querySelector('#myGrid');
  thisGrid = new agGrid.Grid(eGridDiv, gridOptions);

  </script>

{% include 'footer.html' %}