<!-- contributor note: the django UI will be eventually replaced by a new dynamic frontend speaking to the REST API, do not add features -->

{% include 'partials/header.html' %}
{% load render_table from django_tables2 %}
<main>
  <h1>{{ repo.name }} : Team Summary</h1>
  <a href="{% url 'repo_contributors' repo.name %}"><i class="fas fa-user"></i>&nbsp;&nbsp;Switch to Contributor Summary?</a><br/><br/>

<!-- FIXME: add nav to contributor summary -->
{% include 'partials/date_select.html' %}

<section>

  {% render_table stats %}
  {{ data| safe }}
</section>

{% include 'partials/footer.html' %}
