<table class='tabular' id='commits'>
    {% if commits %}
    <th>Commit Date</th>
    <th>Repository</th>
    <th>Sha</th>
    <th>Author</th>
    <th>Message</th>
    <th>Lines +</th>
    <th>Lines -</th>
    {% endif %}
    {% for commit in commits %}
    <tr>
        <td>{{commit.commit_date}}</td>
        {# <td>{{commit.author_date}}</td> #}
        <td>{{commit.repo}}</td>
        <td>{{commit.sha}}</td>
        <td>{{commit.author}}</td>
        <td>{{commit.subject}}</td>
        <td>{{commit.lines_added}}</td>
        <td>{{commit.lines_removed}}</td>
    </tr>
    {% endfor %}
</table>
