{% load render_table from django_tables2 %}
<div class='tabular-view'>
    <div class='flex-row'>
        <div class='sw-container'>
            <label>Tabular</label>
            <label class='switch'>
              <input type='checkbox' data-off='/?{{ request.GET.urlencode }}' data-on='/repos?{{ request.GET.urlencode }}'/>
		      <span class='slider sp round'></span>
            </label>
            <label>Graph</label>
        </div>
        <div class='float-right dropdown'>
            <form id='range' method='GET'>
              <label>Organization</label>
                <select name='org' onchange='this.form.submit()'>
                  <option value='all'>All</option>
                  {% for org in organizations %}
                  <option value='{{org.name}}' {% if request.GET.org == org.name %}selected{% endif %}> {{org.name}} </option>
                  {% endfor %}
                </select>

                <label>From</label>
                <input type='date' name='start' class='start' value='{{request.GET.start}}' max='{% now "Y\-m\-d" %}' onchange='this.form.submit()' required/>
                <label>To</label>
                <input type='date' name='end' class='end' value='{% if request.GET.end %}{{request.GET.end}}{% else %}{% now "Y\-m\-d" %}{% endif %}' max='{% now "Y\-m\-d" %}' onchange='this.form.submit()'  required/>
                <input type='hidden' id='filter' name='filter' value='{% if request.GET.filter %}{{request.GET.filter}}{% endif %}'/>
            </form>
        </div>
    </div>


    {% render_table stats %}
</div>
