<nav>
  <header>
    <a href='/'>{srcOptics}</a>
  </header>
  <div class='search-field'>
    <form id='search' type='get'>
      <input type='search' placeholder='Search' />
      <ul class='results'></ul>
      {# <button>Submit</button> #}
    </form>
  </div>


  <!--
      <div class='actions'>
        <input type='checkbox' id='settings' name='actions'/>
        <label for='settings' id='gear'>
          Settings
        </label>
        <input type='checkbox' id='user' name='actions'/>
        <label for='user' id='profile'>
          Pranesh K
        </label>
      </div>
      -->
</nav>
