
{% include 'partials/header.html' %}
{% load render_table from django_tables2 %}
<main>
  <h1>{{ repo.name }} : Contributor Summary </h1>

  <a href="{% url 'repo_team' repo.name %}">(Switch to Team Summary?)</a><br/><br/>

<!-- FIXME: add nav to team summary -->

{% include 'partials/footer.html' %}

<section>

    <div class='tabular-view'>
    {% if author_graphs %}
    <figure>
      {{ author_graphs| safe }}
    </figure>
    <figure>
      {% render_table author_table %}
    </figure>
    {% else %}
    <p>No contributors found for this interval!</p>
    {% endif %}
  </div>
</section>

{% include 'partials/footer.html' %}
