{% include 'partials/header.html' %}
{% load render_table from django_tables2 %}
<main>
  <h1>Repository Details</h1>
  <h2>{{title}}</h2>
  <div class='card-layout'>
    <figure>
      <figcaption>Files</figcaption>
      <table>
        <tr>
          <td>Total Commits</td>
          <td>{{summary_stats.commits}}</td>
        </tr>
        <tr>
          <td>Total Number Of Files</td>
          <td>{{summary_stats.file_count}}</td>
        </tr>
        <tr>
          <td>Total Number of Authors</td>
          <td>{{summary_stats.authors}}</td>
        </tr>
      </table>
    </figure>
    <figure>
      <figcaption>Lines</figcaption>
      <table>
        <tr>
          <td>Total Lines Added</td>
          <td>{{summary_stats.lines_added}}</td>
        </tr>
        <tr>
          <td>Total Lines Removed</td>
          <td>{{summary_stats.lines_removed}}</td>
        </tr>
      </table>
    </figure>
    <figure>
      <figcaption>Miscellaneous</figcaption>
      <table>
        <tr>
          <td>Age (Days)</td>
          <td>{{summary_stats.age}}</td>
        </tr>
        <tr>
          <td>Average Commits per Day</td>
          <td>{{summary_stats.avg_commits_day}}</td>
        </tr>
      </table>
    </figure>
  </div>
</main>
<section>
  <form id='range' method='GET'>
    <div class='flex-row'>
      <div class='float-left dropdown'>
        <select name='attr' onchange='this.form.submit()'>
        {% for a in attributes %}
        <option value='{{a.0}}' {% if request.GET.attr == a.0 %}selected{% endif %}>{{a.1}}</option>
        {% endfor %}
        </select>
        by
        <select name='intr' onchange='this.form.submit()'>
        {% for i in intervals %}
        <option value='{{i.0}}' {% if request.GET.intr == i.0 %}selected{% endif %}>{{i.1}}</option>
        {% endfor %}
        </select>
      </div>
      <div class='float-right dropdown'>
        <label>From:</label>
        <input type='date' name='start' class='start' value='{{request.GET.start}}' max='{% now "Y\-m\-d" %}' onchange='this.form.submit()' required/>
        <label>To:</label>
        <input type='date' name='end' class='end' value='{% if request.GET.end %}{{request.GET.end}}{% else %}{% now "Y\-m\-d" %}{% endif %}' max='{% now "Y\-m\-d" %}' onchange='this.form.submit()'  required/>
      </div>
    </div>
    <input type='hidden' id='home' name='filter' value='{% if request.GET.filter %}{{request.GET.filter}}{% endif %}'/>
  </form>
  {{ data| safe }}
  {% render_table stats %}
</section>
<section>
  <h1 align="center">Contributors</h1>
  <div class='tabular-view'>
    {% if author_graphs %}
    <figure>
      {% render_table author_table %}
    </figure>
    <figure>
      {{ author_graphs| safe }}
    </figure>
    {% else %}
    <p>No contributors found for this interval!</p>
    {% endif %}
  </div>
</section>
{% include 'partials/footer.html' %}
