
{% include 'partials/header.html' %}
{% load render_table from django_tables2 %}
<main>
  <h1>{{ repo.name }} : Team Summary</h1>
  <a href="{% url 'repo_contributors' repo.name %}">(Switch to Contributor Summary?)</a></br>

<!-- FIXME: add nav to contributor summary -->

<section>
    <!-- FIXME: should be a partial -->
    <form id='range' method='GET'>
            <div class='flex-row'>
              <div class='float-left dropdown'>
                <select name='attr' onchange='this.form.submit()'>
                {% for a in attributes %}
                <option value='{{a.0}}' {% if request.GET.attr == a.0 %}selected{% endif %}>{{a.1}}</option>
                {% endfor %}
                </select>
                by
                <select name='intr' onchange='this.form.submit()'>
                {% for i in intervals %}
                <option value='{{i.0}}' {% if request.GET.intr == i.0 %}selected{% endif %}>{{i.1}}</option>
                {% endfor %}
                </select>
              </div>
              <div class='float-right dropdown'>
                <label>From:</label>
                <input type='date' name='start' class='start' value='{{request.GET.start}}' max='{% now "Y\-m\-d" %}' onchange='this.form.submit()' required/>
                <label>To:</label>
                <input type='date' name='end' class='end' value='{% if request.GET.end %}{{request.GET.end}}{% else %}{% now "Y\-m\-d" %}{% endif %}' max='{% now "Y\-m\-d" %}' onchange='this.form.submit()'  required/>
              </div>
            </div>
            <input type='hidden' id='home' name='filter' value='{% if request.GET.filter %}{{request.GET.filter}}{% endif %}'/>
          </form>
  {% render_table stats %}
  {{ data| safe }}
</section>

{% include 'partials/footer.html' %}
